*~
/doc/*
!/doc/*.texi
TAGS

# for now
/maple/Browser
/maple/doti/
/maple/mdoc/
/maple/mhelp/
/maple/mtest/
/maple/tst/
/maple/sandbox/

/scrs/

*.mla
*.hdb
*.zip
*.tags

/lisp/*.elc
/lisp/tst
/ChangeLog
_preview_.mm

/bin/rm

readline.log
/releases/
/tmp/
/bin/byte-compile
/bin/emacs
/demo/mdcs-debugger-demo.mw
