*~
/doc/*
!/doc/*.texi
!/doc/*.html
!/doc/*.info
TAGS

# for now
/maple/Browser
/maple/doti/
/maple/mdoc/
/maple/mhelp/
/maple/mtest/
/maple/tst/
/maple/sandbox/

/scrs/

*.mla
*.zip
*.tags
!/mdc.help
!/mdc.hdb

/lisp/*.elc
/lisp/sandbox/
/lisp/tst/
/ChangeLog
_preview_.mm

/bin/rm

readline.log
/releases/
/tmp/
/bin/byte-compile
/bin/emacs
/demo/mdcs-debugger-demo.mw
