*~
auto/
/doc/*
!/doc/*.texi
!/doc/*.html
!/doc/*.info
TAGS

# mk directory 
/mk/Makefile.aux
/mk/Makefile.out
/mk/Makefile.tex
/mk/mds-fixup.el
/mk/default.mk


/maple/Browser
/maple/doti/
/maple/mdoc/
/maple/mhelp/
/maple/mtest/
/maple/tst/
/maple/sandbox/
/sandbox/

/scrs/

*.mla
*.zip
*.tags
!/mdc.help
!/mdc.hdb

/lisp/*.elc
/lisp/sandbox/
/lisp/tst/
/ChangeLog
_preview_.mm

/bin/rm

readline.log
/releases/
/tmp/
/bin/byte-compile
/bin/emacs
/demo/mdcs-debugger-demo.mw
/mk/help.mk
/mk/version.mk
/mk/targets.mk
/mds-version.inc
/maple/Makefile
/lisp/Makefile
/lisp/mds-version.el
/doc/mds.html

/installer.mk
