/.gitignore~
/_TZ_26700-gauss.aux
/_TZ_26700-gauss.cp
/_TZ_26700-gauss.fn
/_TZ_26700-gauss.ky
/_TZ_26700-gauss.log
/_TZ_26700-gauss.pdf
/_TZ_26700-gauss.pg
/_TZ_26700-gauss.tex
/_TZ_26700-gauss.toc
/_TZ_26700-gauss.tp
/_TZ_26700-gauss.vr
/fibonacci.mpl~
/mdb.aux
/mdb.cp
/mdb.cps
/mdb.dvi
/mdb.fn
/mdb.ky
/mdb.log
/mdb.pg
/mdb.texi~
